# Binary files
apps/src/sysid
apps/src/sysmgt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Java files
*.class

# Compiled Python files
*.pyc

# Other files
certs
config.mk
thirdparty/t-digest/GiwsException.cpp
thirdparty/t-digest/GiwsException.hxx
thirdparty/t-digest/tdigestx.cpp
thirdparty/t-digest/tdigestx.hxx
tmp
